.texto-menor {
	font-size: 13px;
}

.divs-facilidades {
	width: 325px;
}

.verde-fluorescente {
	color: #daff01;
}

.lilas {
	background-color: #9353ff;
}

.posicao {
	top: 40%;
}

@media (max-width: 767px) {
	.posicao {
		top: 60%;
	}
}
